#search {

    border: 1px;
    margin: 30px;
}

section.result{

    border: 1px;
    margin: 10px;
    text-align: center;
}

section > div.container-fluid, div.button-container {

    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

section > div.button-container {

    padding-right: 20px;
    padding-left: 20px;
}

.card {

    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
}
p, em {

    margin-bottom: 0;
}