{% extends "layouts/main_layout.html" %}
{% block mainContent %}
<h4>About me</h4>
<article>
    <h6>Subtitle</h6>
    <p class="text-secondary">Cupcake ipsum dolor sit amet oat cake chupa chups. Sugar plum icing marshmallow cheesecake halvah lemon drops
        pudding pastry. Jelly beans cotton candy caramels jelly marshmallow. Gummies dragée dragée gingerbread donut macaroon.
        Croissant brownie brownie wafer dessert. Muffin chocolate cake donut. Oat cake muffin cheesecake cake bear claw cake wafer brownie.
        Oat cake cake pastry marshmallow gummi bears marzipan jelly-o cake. Lollipop macaroon wafer tiramisu liquorice.
        Gingerbread apple pie macaroon jujubes sesame snaps marzipan. Icing danish jelly-o powder sesame snaps. Topping brownie candy canes cupcake caramels.</p>
</article>
{% endblock %}